.ActivityCardContainer {
  /* flex-direction: column; */
    width: 300px;
    height: 450px;

    display: flex;
    flex-flow: column;
     background-color :white;
    /* background-color: aqua; */
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 10px rgba(214, 214, 214, 0.47);
    

  }
.ActivityCardImage {
    flex: 1 1 auto;

    height: 350px;
    overflow: hidden;
    /* background-color: yellow; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: flex;
    flex-flow:row;
    justify-content: center;
    
}

.ActivityCardImage img {
    width: 120%;
}

.description, name{
    width: 100%;
    text-align: left;

}
.ActivityCardInfo {
  
  flex: 1 1 auto;

  display: flex;
  flex-flow: column;
  /* background-color: purple; */

  align-items: stretch;
    
}

.ActivityCardInfo .activityName {


    flex: 1 1 auto;
    /* background-color: pink; */

    display: flex;
    flex-flow: row;

    padding: 10px;
    
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;

    justify-content: flex-start;
}

.ActivityCardInfo .activityDetails {
    flex: 1 1 auto;
    /* background-color: green; */

    display: flex;
    flex-flow: row;
    justify-content: space-between;

   

    padding: 10px;
}

.ActivityCardInfo .activityDetails .duration {
    /* background-color: red; */
    font-family: 'Cabin,' sans-serif;
    font-size: 16px;
}

.ActivityCardInfo .activityDetails .price-wrapper {
    /* background-color: lime; */
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}


.ActivityCardInfo .button-wrapper {
  /* background-color: lime; */
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  
}

h4 {
  /* font-size: 20px; */
  line-height: 1.5em;
  font-weight: 700;
  
  }
/* 
  h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-family: playfair display,serif;
  color: #303030;
  }  */