.img {
    width:400px
    
}

.destination-card-wrapper {

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: bisque;
  justify-content: space-around;
}

  /* .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }
  .grid > article img {
    max-width: 100%;
  }
  .text {
    padding: 0 20px 20px;
  }
  .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    } */