
  




.destinationCardWrapper {
 
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 75%;
  /* background-color: bisque; */
  justify-content: space-around;
  padding-right: 15px;
  padding-left: 15px;
  /* padding-top: 50px; */
  padding-top :15px;
  margin: auto;
  /* margin-left:auto;
  margin-right:auto;
  margin-top: auto; */
  margin-bottom:100px;
}
  

