.banner {
    background-color: #333;
    /* background-image: url('/images/Maldives.jpeg'); */
    /* background-image : url ('/images/Surfing_Tablas.jpg'); */
    /* background-image: url('/images/SouthAfrica_Surfing_MediumPicture_sincerely-media-oC32cy4x-ZA-unsplash.jpg'); */
    background-image: url('/images/Banner_Destinations_Vietnam_thai-an-P7__veGsXww-unsplash.jpg');
    /* background-image: url('/images/Roof_Original Size_michael-mims-0ZL0O-eDOpU-unsplash.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    width: 205vh;
    height:40vh;
    object-fit: cover;
    position:relative;
    margin-top:0;
    /* height: 357px; */
    /* max-height:120vh; */
    /* background:blue; */
        
    }
    

 .headerText {
    position: absolute;
    /* background-color: rgba(18,72,120, 0.8); */
    color:white;
    /* padding: 0 1rem; */
    font-size: 60px;
    font-weight: 700;
    top: 50%;
    left: 50%;
    text-align: center;
    /* top: 2rem; 
    left: 2rem; */
    /* background-color: chartreuse; */
}




.profileContainer {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    
	/*background-color: orange;*/
} 
/* Profile Section */

.profile {
    flex: 1 1 auto;
    padding: 5rem 0;
    max-height: 40.5rem;
    /*background-color :blue;*/
    
    width: 300px;
    margin:auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 5px 10px 10px rgba(214, 214, 214, 0.47);
}

.profileImage {

    flex: 1 1 auto;
    display: flex;
    /* float:left; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px; 
  
	height: auto;
    
    /*background-color:green;*/ 
}

.profileImage img {
    border-radius: 50%;
    max-width: 75%;
    max-height: 75%;
}


/* .UserImg {
    display: block;
    
} */
.profileUserSettings {
    margin-top: 1.1rem;
   
}

.profileUserName {
    flex: 1 1 auto;
    display: flex;
    font-size: 2.2rem;
    font-weight: 300;
}

.activityGroup {
    flex: 1 1 auto;

    display:flex ;
    flex-direction: column;
    padding-top: 3rem;
    /* background-color: yellow; */
}

.favoriteActivity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.1rem;
  
  }

.level {
    margin-bottom: 1.1rem;
}

.profileButtonGroup{
    flex: 0 0 auto;

    display: flex;
    flex-flow: row;
    /* display: inline-block; */
    justify-content: space-between;
    /* background-color: pink; */
    margin-top: 5rem;
}

.profileEditBtn  {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    /* margin-left: 2rem; */
}

.profileSettingsBtn {
    font-size: 2rem;
    margin-left: 1rem;
 }


/* 
.profileBio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
} */
 


