.navBar {
    /* background-color:#0FF; */
    /* background-color :#0918e6;*/
    background-color: #062dba;
    height:7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
    
    
  }
  
/* .bg-dark{
    background-color: rgb(62, 196, 252)!important;
}

.filter-red{
    filter: invert(54%) sepia(94%) saturate(242%) hue-rotate(123deg) brightness(90%) contrast(94%);
    width: 50px;
    vertical-align: text-bottom;
} */    

/* .with-border {
    border: 1px solid #0FF!important;
} */

