
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.carouselWrapper {
    position: relative;
    /* height: 300px; */
    overflow: hidden;
    max-height: 95vh; 
    background-position: center;
    background-size: cover;
    object-fit: cover;

}

.carousel-caption {

    /* color: lime; */
    position: absolute !important;
    /* top: 40%; */
    top: 45vh;
    bottom: auto;
}

.carousel-caption > h3 {

    font-size: 4.375rem; /* 70px */  
    font-family: 'Playfair Display', serif;
    font-weight: 700;
 
 }