
.card {
    margin-bottom: 40px;
}

.card img {
    width: 400px;
    object-fit: cover;
}
  
.DestinationCardContainer {
    /* flex-direction: column; */
      width: 300px;
      height: 450px;
      display: flex;
      flex-flow: column;
      background-color: aqua;
      margin: 10px;
  
    }