
.DestinationCardContainer {
  /* flex-direction: column; */
    width: 300px;
    height: 450px;

    display: flex;
    flex-flow: column;
    /* background-color: aqua; */
    margin: 10px;
    position: relative;

  }
.DestinationCardImage {
    flex: 1 1 auto;

    height: 350px;
    overflow: hidden;
    /* background-color: yellow; */

    display: flex;
    flex-flow:row;
    justify-content: center;
    
}

.DestinationCardImage img {
    width: 150%;
    height: auto;
    object-fit: cover;
}

.DestinationCardContainer .cardInfo {

  position: absolute;
  /* background-color: yellow;  */
  color: white;
  font-size: 2rem;
  bottom: 20px;
  left: 20px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;

}

.description, name{
    width: 100%;
    text-align: left;

}


.DestinationCardInfo .activityName {


    flex: 1 1 auto;
    /* background-color: pink; */

    display: flex;
    flex-flow: row;

    padding: 10px;

    justify-content: flex-start;
}

.DestinationCardInfo .activityDetails {
    flex: 1 1 auto;
    /* background-color: green; */

    display: flex;
    flex-flow: row;
    justify-content: space-between;

    padding: 10px;
}

/* .DestinationCardInfo .activityDetails .duration {
    background-color: red;
}

.DestinationCardInfo .activityDetails .price-wrapper {
    background-color: lime;
} */