/* body {
  font-family: 'Montserrat', sans-serif;
} */


/* .App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */
.formWrapperInner{
  display: flex;
  flex-direction: column;
  background-color: coral;

}

.formContainer {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: green;
  width:95%;
  margin-left:5rem;


}



  /* h4 {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 700;
  }

  h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-family: playfair display,serif;
   color: #303030; 
  }
   */
