/* body {
  font-family: 'Montserrat', sans-serif;
} */


/* .App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */
.formWrapperInner{
  display: flex;
  flex-direction: column;
  background-color: coral;

}

.formContainer  {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: green;
  width:31.25rem; /* 31.25 rem */ /* 500 px */
  /* margin-left:5rem; */
  box-sizing: border-box;
  height: 50%;
  overflow: hidden;
  border: 0px solid #000;
  margin: auto;  /* 3.75 rem *//* 60 px */
  padding: 10px;
  margin-top:40px;


}

/* .tableContainer {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color:fuchsia;
  width:31.25rem;  
  

   box-sizing: border-box;
  height: 50%;
  overflow: hidden;
  padding: 10px;
  margin-left:15px; 

} */


  /* h4 {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 700;
  }

  h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-family: playfair display,serif;
   color: #303030; 
  }
   */
