.IdCard {
    text-align: left;
    margin-left: 5px;
}

.pictureCard {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    padding:5px;
    margin: 10px 5px;
    /* width:200px; */
    /* max-width:100% ; */
    height: auto;
    width: 30%;
    height: 200px;
    /* object-fit: contain; */
}

.infoCard{
    align-items: flex-start;
    margin-left: 5px;
}

.infoCard p {
    margin: 0px
}